@{
    ViewBag.Title = "CORE VISES ADMIN";
}

<div class="jumbotron">
    <h1  style="color:#ff3300;">HOBBIE SPORT</h1>
    <div class="banner">
        <!-- start slider -->
        <div id="fwslider">
            <div class="slider_container">
                <div class="slide">
                    <!-- Slide image -->
                    <img src="images/shop.jpg" class="img-responsive" alt="" />
                    <!-- /Slide image -->
                  
                </div>
                <!-- /Duplicate to create more slides -->
                <h1 style="color:#ff3300;">PAGINA DE ADMINISTRADOR</h1>

                <div class="slide">
                    <img src="images/sport.jpg" class="img-responsive" alt="" />
                    <div class="slide_content">
                        <div class="slide_content_wrap">
                            <h1 class="title" style="color:#ff3300;">TODO EN DEPORTES</h1>
                            
                        </div>
                    </div>
                </div>
                <!--/slide -->
            </div>
          
        </div>
        <!--/slider -->
    </div>
</div>

<div class="row">

    <div class="col-md-3 top_box1">
        <div class="view view-ninth">

            <img src="images/pic4.jpg" class="img-responsive" alt="" />

        </div>
        <h4 class="m_4"><a href="#">Skateboard</a></h4>
        <p class="m_5">Profesional y Hobbie</p>
    </div>
    <div class="col-md-3 top_box">
        <div class="view view-ninth">

            <img src="images/pic3.jpg" class="img-responsive" alt="" />

        </div>
        <h4 class="m_4"><a href="#">Ciclismo</a></h4>
        <p class="m_5">Profesional y Hobbie</p>
    </div>

    <div class="col-md-3 top_box">
        <div class="view view-ninth">

            <img src="images/pic2.jpg" class="img-responsive" alt="" />


        </div>
        <h4 class="m_4"><a href="#">Surfing</a></h4>
        <p class="m_5">Profesional y Hobbie</p>
    </div>
    <div class="col-md-3 top_box">
        <div class="view view-ninth">
            
                <img src="images/pic1.jpg" class="img-responsive" alt="" />
              
               
           
        </div>
        <h4 class="m_4"><a href="#">Futbol</a></h4>
        <p class="m_5">Profesional y Hobbie</p></div>
   
</div>

